@import url('https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700,800,900');

:root{

    --gray: #f9fbfd;
    --primary-color: #fc7272;
    --secondary-color: #fce5cdff;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div, section, article, nav, h1, h2, h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

section{
    width: 100%;

    min-height: 30vh;
    padding: 10vh 10vw;
}

img{
    max-width: 15em;
    max-height: 15em
}

h1{
    font-size: 50px;
    font-weight: 400;
}

h2{
    font-weight: 400;
}

p{
    font-weight: 300;
    line-height: 2;
}

hr{
    border: 3px solid var(--primary-color);
    width: 40%;
}

/* START OF NAVIGATION BAR */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0vw 3vw;

    background-color: var(--gray);
    box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.2);

}

nav p{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 150%;
}

nav ul{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 2em;

    list-style: none;
    font-size: 120%;
    font-weight: 400;

    padding: 0;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a[href$="#"]{
    font-weight: bold;
}

nav a:visited,
nav a:link{
    color: var(--primary-color);
    text-decoration: none;
    border: none
}

nav a:not(:first-child):hover{
    border-bottom: var(--primary-color) solid 2px
}

nav a.bars{
    display: none
}

@media screen and (max-width: 600px){
    nav ul li:not(:first-child){
        display: none
    }
    nav a.bars{
        display: inline;
    }

    nav ul.active{
        flex-direction: column;
    }

    nav ul.active li{
        display: block;
        text-align: center;
    }
}

/* END OF NAVIGATION BAR */

/* START OF FOOTER */

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: 30vh;
    padding: 5vh 0vw;

    background-color: var(--primary-color);
    color: white;
}

footer > div{
    max-width: 40%;
}

footer i{
    color: white;
    font-size: 30px;
    padding-right: 0.25em;
}
/* END OF FOOTER */

/* GENERAL TITLE CSS */

section.title{
    text-align: center;
    color: var(--primary-color);
}

/* THATS ALL????? YEA CUZ IM SO GOOD */

/* GENERAL CONTENT SLIDE */

section.secondary{
    background-color: var(--secondary-color);
}

/* Wrapper for the articles and events */
div.events{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Video events on the homepage */
div.videoevent{
    padding: 2vw;
}

div.videoevent iframe{
    width: 100%;
    height: 30vh;
    margin: auto;
    margin: 1em 0em;

    box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.2);
}

