@import url('https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700,800,900');

:root{

    --gray: #f9fbfd;
    --primary-color: #fc7272;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div, section, article, nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

img{
    max-width: 15em;
    max-height: 15em
}

h1{
    font-size: 50px;
    font-weight: 500;
}
p{
    font-weight: 300;
}

/* START OF NAVIGATION BAR */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0vw 3vw;

    background-color: var(--gray);
    box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.2);

}

nav p{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 150%;
}

nav ul{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 2em;

    list-style: none;
    font-size: 120%;
    font-weight: 400;

    padding: 0;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a[href$="#"]{
    font-weight: bold;
}

nav a:visited,
nav a:link{
    color: var(--primary-color);
    text-decoration: none;
    border: none
}

nav a:hover{
    border-bottom: var(--primary-color) solid 2px
}

/* END OF NAVIGATION BAR */

section#title{
    display: flex;
    width: 100%;
    padding: 1em;
    
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

section#mission_statement{
    display: flex;
    background-color: #f3f3f3ff;
    padding: 1em 4em;

    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#mission_statement p{
    padding: 0em 5em
}

section#events{
    display: flex;
    flex-direction: column;
}

div.event{
    display: flex;
    padding: 1em;
    margin: 1em 0em 0em 5vw;
    gap: 5vw;
}

.imgwrap{
    border: #fc7272 2em solid;
    border-radius: 10%;
}

.textwrap{
    border: lightgray 2em solid;
    border-radius: 30px;
    background-color: lightgray;
}