@import url('https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700,800,900');

:root{

    --gray: #f9fbfd;
    --primary-color: #fc7272;
    --secondary-color: #fce5cdff;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div, section, article, nav, h1, h2, h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

section{
    width: 100%;

    min-height: 30vh;
    padding: 10vh 10vw;
}

h1{
    font-size: 50px;
    font-weight: 400;
}

h2{
    font-weight: 400;
}

p{
    font-weight: 300;
    line-height: 2;
}

hr{
    border: 3px solid var(--primary-color);
    width: 40%;
}

/* START OF NAVIGATION BAR */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0vw 3vw;
    position: relative;

    background-color: var(--gray);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);

}

nav p{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 150%;
}

nav ul{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 2em;

    list-style: none;
    font-size: 120%;
    font-weight: 400;

    padding: 0;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a[href$="#"]{
    font-weight: bold;
}

nav a:visited,
nav a:link{
    color: var(--primary-color);
    text-decoration: none;
    border: none
}

nav a:not(:first-child):hover{
    border-bottom: var(--primary-color) solid 2px
}

nav a.bars{
    display: none
}

@media screen and (max-width: 600px){
    nav ul li:not(:first-child){
        display: none
    }
    nav a.bars{
        display: inline;
    }

    nav ul.active{
        flex-direction: column;
    }

    nav ul.active li{
        display: block;
        text-align: center;
    }
}

/* END OF NAVIGATION BAR */

/* START OF FOOTER */

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: 30vh;
    padding: 5vh 0vw;

    background-color: var(--primary-color);
    color: white;
}

footer > div{
    max-width: 40%;
}

footer i{
    color: white;
    font-size: 30px;
    padding-right: 0.25em;
}

@media screen and (max-width: 600px){
    footer{
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer > div{
        max-width: 60%;
    }
}
/* END OF FOOTER */

/* GENERAL TITLE CSS */

section.title{
    text-align: left;
    color: white;
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.title img{
    width: 200px;
    height: 200px;

    background-color: white;
    border: 15px solid white;
    border-radius: 50%;
}

@media screen and (max-width: 600px){
    section.title{
        text-align: center;
        flex-direction: column;
    }

    section.title div.img{
        position: absolute;
        bottom: 35vh;
    }

    section.title img{
        width: 100px;
        height: 100px;
    }    
}

/* GENERAL CONTENT SLIDE */

section.secondary{
    background-color: var(--secondary-color);
}

/* Wrapper for the articles and events */
div.events{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.events.vertical{
    flex-direction: column;
}

@media screen and (max-width: 600px){
    div.events{
        flex-direction: column;
    }
}

/* Video events on the homepage */
div.videoevent{
    padding: 2vw;
}

div.videoevent iframe{
    width: 100%;
    height: 30vh;
    margin: auto;
    margin: 1em 0em;

    box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.2);
}

/* Styling the blogs for each page */

section.blog{
    width: 70%;
    margin: auto;
    padding-top: 0;
}

section.blog div.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.blog p{
    line-height: 1.75;
}

section.blog hr{
    width: 100%;
    border: 0.7px lightgray solid;
}

img#header{
    width: 100%;
}

p.bold{
    font-weight: bold;
}

div#thumbnail{
    display: none
}

/* BLOG THUMBNAILS */

article.blog{
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
    justify-content: center;
    align-items: center;

    border: 1px black solid;
    margin-top: 2vw;
}

article.blog img#header{
    width: 25%;
    height: auto;
}

article.blog h1{
    font-size: 20px;
}

article.blog p{
    line-height: 1.15;
    margin-bottom: 1.5em;
}

article.blog a {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: small;
    padding: 10px;
    margin: none;
}
article.blog a:visited{
    text-decoration: none;
}
article.blog a:hover{
    color: var(--primary-color);
    background-color: white;
    border: 3px var(--primary-color) solid;
    text-decoration: none;
}

article.blog div{
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    article.blog{
        flex-direction: column;
    }
    article.blog img#header{
        width: 100%;
        height: auto;
    }
    article.blog{
        text-align: center;
    }
}
